.noplp-input-box {
  font-family: "Roboto Condensed", sans-serif;
  font-size: min(max(16pt, 4vw), 20pt);
  text-transform: uppercase;
  border: 0px gray solid;
  border-radius: 10px;
  text-align: center;
  width: min(95%, 600px);
  text-shadow: 1px 1px black;
  box-shadow: 0 0 0 1px black, 0 0 0 2px #ccc;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
}

.input-lyric {
  background: linear-gradient(
    180deg,
    rgba(171, 187, 219, 1) 0%,
    rgba(71, 108, 183, 1) 20%,
    rgba(25, 49, 132, 1) 50%,
    rgba(20, 33, 94, 1) 80%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #ffda00;
  opacity: 1;
}

.input-container-hidden {
  width: 0;
  height: 0;
  overflow: hidden;
}

.input-container {
  text-align: center;
}

.fake-input-div-hidden {
  display: none;
}

.fake-input-div-transparent {
  opacity: 0.3;
}
