.dialog-box {
  width: min(480px, 80vw);
  background-color: rgb(152, 92, 248);
  color: white;
  font-weight: 300;
  font-size: min(max(16pt, 4vw), 20pt);
  border-radius: 10px;
  padding: 10px;
}

.dialog-box h1 {
  text-align: center;
  font-size: 24px;
  color: white;
}

.dialog-box h2 {
  margin: 0;
  padding: 3px;
  margin-top: 10px;
  font-size: 20px;
  color: yellow;
}

.dialog-box p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-align: left;
  color: rgb(255, 218, 252);
}

#review-buttons {
  display: flex;
  gap: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 0 10px;
}

#review-zone {
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  line-height: 1.5em;
  font-size: min(max(10pt, 1.5vw), 12pt);
}

button.review {
  font-family: "Roboto Condensed", sans-serif;
  border: 0;
  border-radius: 10px 10px 0 0;
  color: white;
  height: 40px;
  flex: 1;
  cursor: pointer;
}

button.review-unselected {
  opacity: 0.7;
  height: 38px;
}

button.startGame {
  flex: 1;
  margin: 20px;
  font-size: 32px;
  height: 50px;
  padding: 5px;
  background-color: rgb(206, 60, 193);
}

button.loading {
  opacity: 0.5;
  cursor: wait;
}

.noplp-box {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  border: 0px gray solid;
  border-radius: 10px;
  text-align: center;
  width: min(95%, 600px);
  text-shadow: 1px 1px black;
  box-shadow: 0 0 0 1px black, 0 0 0 2px #ccc;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
}

.lyric {
  background: linear-gradient(
    180deg,
    rgba(171, 187, 219, 1) 0%,
    rgba(71, 108, 183, 1) 20%,
    rgba(25, 49, 132, 1) 50%,
    rgba(20, 33, 94, 1) 80%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
  opacity: 1;
}

.smaller-noplp-box {
  font-size: min(max(12pt, 2vw), 16pt);
}

.tab {
  background-color: rgb(48, 180, 192);
}

.correct-tab {
  color: rgb(81, 203, 32);
}

.wrong-tab {
  color: rgb(240, 101, 67);
}

.mag-button {
  font-family: "Roboto Condensed", sans-serif;
  border: 0;
  border-radius: 10px;
  color: white;
  height: 40px;
  background-color: rgb(152, 92, 248);
  width: 20%;
  cursor: pointer;
}

.copy-button {
  font-family: "Roboto Condensed", sans-serif;
  border: 0;
  border-radius: 10px;
  color: white;
  height: 40px;
  background-color: rgb(206, 60, 193);
  width: 40%;
  cursor: pointer;
}
